---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="doubble blog">
  <section id="blog" class="px-16">
    <h1 class="text-heading1 pt-12 font-extrabold tracking-tighter text-firstkiss-500">let's <span class="font-light italic">talk</span> about it.</h1>
    <a href="/eventsarticle">link to article</a>
  </section>
</MainLayout>
