---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="doubble's vision">
  <section id="vision" class="text-pillowtalk-500 px-16">
    <h1 class="text-heading1 pt-12 font-extrabold tracking-tighter text-firstkiss-500">something is <span class="font-light italic">wrong</span> with how we meet people.</h1>
  </section>
</MainLayout>
