---
import { Image } from "astro:assets";
import scrollpic2 from "../assets/images/awkward2.png";
---

<section class="bg-greenflag-500 text-afterhours-500 grid grid-cols-2">
  <div class="py-16 pl-16">
    <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter pb-12">never miss out on a doubble date.</h2>
    <p>download the Doubble app now</p>
  </div>
  <div><Image src={scrollpic2} alt="pizza party" class="py-0" /></div>
</section>
