---
import { Image } from "astro:assets";
import bannerpic from "../assets/images/banner.png";
import Button from "../components/button.astro";
import googleicon from "../assets/images/googleplay-icon-light.svg";
import appleicon from "../assets/images/apple-icon-light.svg";
---

<section class="bg-greenflag-500 text-afterhours-500">
  <article class="max-w-7xl mx-auto py-12 md:py-16 px-4 md:px-16 lg:grid lg:grid-cols-2 lg:gap-16">
    <div class="hidden lg:block"><Image src={bannerpic} alt="four young people hanging out on grass, taking a selfie" class="h-full max-h-[342px] rounded-3xl object-cover" /></div>

    <div>
      <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter pb-8 md:pb-12 text-center md:text-left animationinviewfade">never miss out on a doubble date.</h2>
      <p class="pb-6 md:pb-10 text-body font-medium text-center md:text-left animationinviewfade">download the Doubble app now.</p>
      <div class="flex flex-col md:flex-row gap-4 md:gap-6 items-center justify-center md:justify-start">
        <a href="https://apps.apple.com/us/app/doubble-dating-friends-chat/id1572234875" target="_blank"> <Button variant="secondary"> <span class="flex items-center gap-2"><Image src={appleicon} alt="apple icon" />App Store</span></Button></a>
        <a href="https://play.google.com/store/apps/details?id=dk.doubble.dating&hl=en" target="_blank"> <Button variant="secondary"><span class="flex items-center gap-2"><Image src={googleicon} alt="google play icon" />Google Play</span> </Button></a>
      </div>
    </div>
  </article>
</section>
