---
import { Image } from "astro:assets";
import eventsphone from "../assets/images/mobile.png";
import Button from "../components/button.astro";
import googleicon from "../assets/images/googleplay-icon-dark.svg";
import appleicon from "../assets/images/apple-icon-dark.svg";
---

<section class="text-pillowtalk-500 pt-16 md:pt-24 pb-12 md:pb-16 px-4 md:px-16 max-w-7xl mx-auto">
  <article class="lg:grid lg:grid-cols-3 lg:gap-16">
    <div class="col-span-2">
      <div>
        <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter pb-8 md:pb-12 text-center md:text-left animationinviewfade">ready to turn up with your crew?</h2>
        <p class="pb-6 md:pb-10 text-body text-center md:text-left animationinviewfade max-w-3xl">whether you're planning a night out or just looking for one, your next “wait, that was actually epic” event starts here.</p>
        <div class="block md:hidden"><Image src={eventsphone} alt="example of how Doubble events look in the app" class="h-full rounded-3xl object-contain max-h-[350px] pb-6" /></div>
        <p class="pb-6 md:pb-10 text-body font-bold text-center md:text-left animationinviewfade">download the Doubble app now.</p>
      </div>

      <div class="flex flex-col md:flex-row gap-4 md:gap-6 items-center justify-center md:justify-start">
        <a href="https://apps.apple.com/us/app/doubble-dating-friends-chat/id1572234875" target="_blank"> <Button variant="primary"> <span class="flex items-center gap-2"><Image src={appleicon} alt="apple icon" />App Store</span></Button></a>
        <a href="https://play.google.com/store/apps/details?id=dk.doubble.dating&hl=en" target="_blank"> <Button variant="primary"><span class="flex items-center gap-2"><Image src={googleicon} alt="google play icon" />Google Play</span> </Button></a>
      </div>
    </div>
    <div class="hidden lg:block"><Image src={eventsphone} alt="example of how Doubble events look in the app" class="h-full rounded-3xl object-cover" /></div>
  </article>
</section>
