---
import { Image } from "astro:assets";
import scrollpic2 from "../assets/images/awkward2.png";
import Button from "../components/button.astro";
import googleicon from "../assets/images/googleplay-icon-dark.svg";
import appleicon from "../assets/images/apple-icon-dark.svg";
---

<section class="text-pillowtalk-500 md:grid md:grid-cols-2 md:gap-8 py-16 px-4 md:px-16">
  <div>
    <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter pb-6 max-w-xl text-firstkiss-500">ready to turn up with your crew?</h2>
    <p class="pb-4">whether you're planning a night out or just looking for one, your next “wait, that was actually epic” event starts here.</p>
    <p class="pb-6 font-bold">download the Doubble app now.</p>
    <div class="md:flex gap-6">
      <Button variant="primary"><span class="flex items-center gap-2"><Image src={googleicon} alt="google play icon" />App Store</span></Button>
      <Button variant="primary"><span class="flex items-center gap-2"><Image src={appleicon} alt="apple icon" />Google Play</span> </Button>
    </div>
  </div>
  <div class="hidden md:block"><Image src={scrollpic2} alt="pizza party" class="py-0" /></div>
</section>
