---
import Card from "../components/card.astro";
---

<section class="max-w-7xl mx-auto py-12 md:py-16 px-4 md:px-16">
  <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter pb-4 text-firstkiss-500 max-w-2xl animationinviewfade">find the fun near you - or start it yourself.</h2>
  <p class="max-w-2xl text-pretty pb-8 md:pb-12 text-pillowtalk-500 animationinviewfade">explore <span class="font-bold">fun events</span> in your area - no awkward planning, no endless dms. whether it's a concert, a cozy house party, or a fun night out — Doubble Events helps you find it... or create it. it’s your social life, only upgraded.</p>
  <div class="sm:grid sm:grid-cols-2 md:grid md:grid-cols-3 lg:grid lg:grid-cols-4 gap-6">
    <Card cardimage="/cocktails.png" date="this friday" eventname="grab cocktails" eventinfo="let’s go grab some delicious cocktails together and have a fun night out on the town." />
    <Card cardimage="/concert.jpg" date="this friday" eventname="live concert" eventinfo="feel the music. a night of electrifying performances awaits— bring your crew." />
    <Card cardimage="/disconight.jpg" date="this friday" eventname="disco night" eventinfo="put on you dancing shoes and step under the disco ball. join us for a night of dancing." />
    <Card cardimage="/tivoli.jpg" date="this friday" eventname="tivoli trip" eventinfo="let’s enjoy the fun rides, lights, and games — join us for a fun friday night at tivoli." />
    <!-- <Card cardimage="/arcade.png" date="this friday" eventname="go to the arcade" eventinfo="challenge your friends, rack up high scores, and relive the retro magic with classic games." /> -->
  </div>
</section>
