---
import { Image } from "astro:assets";
import plusicon from "../assets/images/plus.svg";
---

<section class="text-pillowtalk-500">
  <article class="max-w-7xl mx-auto py-12 md:py-16 px-4 md:px-16">
    <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter pb-8 md:pb-12 animationinviewfade">frequently asked questions.</h2>
    <div class="border-b border-pillowtalk-500 flex justify-between items-center pb-4 mb-4 animationinviewfade"><p class="max-w-xl text-firstkiss-500 font-medium">how does matching work on Doubble?</p> <Image src={plusicon} alt="a plus icon" /></div>
    <div class="border-b border-pillowtalk-500 flex justify-between items-center pb-4 mb-4 animationinviewfade"><p class="max-w-xl text-firstkiss-500 font-medium">can you use Doubble for free?</p> <Image src={plusicon} alt="a plus icon" /></div>
    <div class="border-b border-pillowtalk-500 flex justify-between items-center pb-4 mb-4 animationinviewfade"><p class="max-w-xl text-firstkiss-500 font-medium">can I use Doubble without friends?</p> <Image src={plusicon} alt="a plus icon" /></div>
    <div class="border-b border-pillowtalk-500 flex justify-between items-center pb-4 animationinviewfade"><p class="max-w-xl text-firstkiss-500 font-medium">what is Doubble events?</p> <Image src={plusicon} alt="a plus icon" /></div>
  </article>
</section>
