---
import { Image } from "astro:assets";
import hero from "../assets/images/desktophero.png";
import googleicon from "../assets/images/googleplay-icon-dark.svg";
import appleicon from "../assets/images/apple-icon-dark.svg";
import Button from "../components/button.astro";
---

<section class="bg-[url('../assets/images/desktophero.png')] bg-cover bg-center h-auto py-16">
  <h1 class="font-montserrat text-display font-extrabold tracking-tighter text-greenflag-500 px-4 md:px-16 text-center pb-32">doubble dates are <span class="italic font-light">doubble</span> the fun</h1>
  <p class="text-pillowtalk-500 text-body font-bold text-center px-4 md:px-16 pb-6">start the adventure on the app</p>
  <div class="flex gap-6 justify-center">
    <Button variant="primary"><span class="flex items-center gap-2"><Image src={googleicon} alt="google play icon" />App Store</span></Button>

    <Button variant="primary"><span class="flex items-center gap-2"><Image src={appleicon} alt="apple icon" />Google Play</span> </Button>
  </div>
</section>
