---
import { Image } from "astro:assets";
import hero from "../assets/images/desktophero.png";
---

<section class="bg-[url('../assets/images/desktophero.png')] bg-cover bg-center h-screen py-16">
  <h1 class="font-montserrat text-display font-extrabold tracking-tighter text-afterhours-500">doubble dates are <span class="italic font-light">doubble</span> the fun</h1>
  <p class="text-pillowtalk-500 font-bold">start the adventure on the app</p>
</section>
