---
import { Image } from "astro:assets";
import googleicon from "../assets/images/googleplay-icon-dark.svg";
import appleicon from "../assets/images/apple-icon-dark.svg";
import Button from "../components/button.astro";
import "animate.css";
---

<section id="hero" class="bg-[url('../assets/images/mobilehero.webp')] sm:bg-[url('../assets/images/desktophero.webp')] bg-cover bg-center h-screen py-12 md:py-16">
  <article class="max-w-7xl mx-auto px-4 md:px-16 flex flex-col justify-between h-full">
    <h1 class="font-montserrat text-display font-extrabold tracking-tighter text-greenflag-500 text-center animationinviewfade">doubble dates are <span class="italic font-light animate__animated animate__flash animate__slower animate__delay-1s">doubble</span> the fun</h1>
    <div class="pb-6">
      <p class="text-pillowtalk-500 text-bodymobilehero md:text-body font-bold text-center pb-6 animationinviewfade">start the adventure on the app</p>
      <div class="flex flex-col sm:flex-row gap-4 md:gap-6 items-center justify-center">
        <a href="https://apps.apple.com/us/app/doubble-dating-friends-chat/id1572234875" target="_blank"> <Button variant="primary"><span class="flex items-center gap-2"><Image src={appleicon} alt="apple icon" />App Store</span></Button></a>
        <a href="https://play.google.com/store/apps/details?id=dk.doubble.dating&hl=en" target="_blank"> <Button variant="primary"><span class="flex items-center gap-2"><Image src={googleicon} alt="google play icon" />Google Play</span> </Button></a>
      </div>
    </div>
  </article>
</section>
