---
import { Image } from "astro:assets";
import scrollpic2 from "../assets/images/awkward2.png";
---

<section class="bg-firstkiss-500 text-afterhours-500 py-16 px-4 md:px-16">
  <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter pb-4">how doubble works.</h2>
  <p class="max-w-xl text-pretty pb-12">Doubble is a social concept. it's about meeting new people with your friends rather than alone: you match someone when your friend matches their friend</p>
  <article class="md:grid md:grid-cols-4 gap-6">
    <div><Image src={scrollpic2} alt="pizza party" class="rounded-3xl" /><h3 class="font-montserrat text-heading4/8 font-extrabold tracking-tighter pt-6 pb-4">first, you match someone</h3><p>you choose your circle of friends. we recommend a close group a friends. you swipe and match with people.</p></div>
    <div><Image src={scrollpic2} alt="pizza party" class="rounded-3xl" /><h3 class="font-montserrat text-heading4/8 font-extrabold tracking-tighter pt-6 pb-4">then, your friend matches their friend</h3><p>at the same time your friends are out there getting matches. when your friends match some Doubble magic happens.</p></div>
    <div><Image src={scrollpic2} alt="pizza party" class="rounded-3xl" /><h3 class="font-montserrat text-heading4/8 font-extrabold tracking-tighter pt-6 pb-4">now, you have a DoubbleMatch</h3><p>you get a DoubbleMatch, when you match someone and your friend matches their friend.</p></div>
    <div><Image src={scrollpic2} alt="pizza party" class="rounded-3xl" /><h3 class="font-montserrat text-heading4/8 font-extrabold tracking-tighter pt-6 pb-4">so, it’s time for the DoubbleChat</h3><p>the four of you get a group chat. we call it the DoubbleChat. you can find and suggest fun local experiences directly in the DoubbleChat.</p></div>
  </article>
</section>
