---
import { Image } from "astro:assets";
import how1 from "../assets/images/howto1.png";
import how2 from "../assets/images/howto2.png";
import how3 from "../assets/images/howto3.png";
import how4 from "../assets/images/howto4.png";
---

<section class="bg-firstkiss-500 text-afterhours-500">
  <article id="stagger" class="max-w-7xl mx-auto py-12 md:py-16 px-4 md:px-16">
    <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter pb-4 animationinviewfade">how doubble works.</h2>
    <p class="max-w-2xl pb-8 md:pb-12 animationinviewfade">Doubble is a social concept. it's about meeting new people with your friends rather than alone: you match someone when your friend matches their friend</p>
    <article class="sm:grid sm:grid-cols-2 md:grid-cols-4 gap-6">
      <div class="pb-10 md:pb-0">
        <Image src={how1} alt="young guy smiling on a night out" class="rounded-3xl aspect-3/2 object-cover" />
        <div class="stagger-item">
          <h3 class="font-montserrat text-2xl font-extrabold tracking-tighter pt-3 md:pt-4 pb-2 md:pb-4 animationinviewfade">first, you match with someone</h3><p class="animationinviewfade">you choose your circle of friends. we recommend a close group a friends. you swipe and match with people.</p>
        </div>
      </div>

      <div class="pb-10 md:pb-0">
        <Image src={how2} alt="young girl smiling and dancing" class="rounded-3xl aspect-3/2 object-cover" />
        <div class="stagger-item">
          <h3 class="font-montserrat text-2xl font-extrabold tracking-tighter pt-3 md:pt-4 pb-2 md:pb-4 animationinviewfade">then, your friend matches their friend</h3><p class="animationinviewfade">at the same time your friends are out there getting matches. when your friends match some Doubble magic happens.</p>
        </div>
      </div>

      <div class="pb-10 md:pb-0">
        <Image src={how3} alt="a young guy and girl embracing on a night out" class="rounded-3xl aspect-3/2 object-cover" />
        <div class="stagger-item">
          <h3 class="font-montserrat text-2xl font-extrabold tracking-tighter pt-3 md:pt-4 pb-2 md:pb-4 animationinviewfade">now, you have a DoubbleMatch</h3><p class="animationinviewfade">you get a DoubbleMatch, when you match someone and your friend matches their friend.</p>
        </div>
      </div>
      <div>
        <Image src={how4} alt="a disco ball" class="rounded-3xl aspect-3/2 object-cover" />
        <div class="stagger-item"><h3 class="font-montserrat text-2xl font-extrabold tracking-tighter pt-3 md:pt-4 pb-2 md:pb-4 animationinviewfade">so, it’s time for the DoubbleChat</h3><p class="animationinviewfade">the four of you get a group chat. we call it the DoubbleChat. you can find and suggest fun local experiences directly in the DoubbleChat.</p></div>
      </div>
    </article>
  </article>
</section>

<script>
  import { animate, stagger, inView } from "motion";

  // Stagger animation + return
  inView("#stagger", () => {
    animate(
      ".stagger-item",
      {
        opacity: [0, 1],
        transform: ["translateY(10px)", "translateY(0)"],
      },
      {
        delay: stagger(0.5, { startDelay: 0.5 }),
        duration: 0.5,
      }
    );
    return () => {
      animate(".stagger-item", {
        opacity: [1, 0],
      });
    };
  });
</script>
