---
import { Image } from "astro:assets";
import logopink from "../assets/images/doubblelogopink.svg";
---

<section id="footer" class="text-pillowtalk-500 px-4 md:px-16 pt-20 pb-8 max-w-7xl mx-auto">
  <article class="flex flex-col md:flex-row gap-12 pb-32">
    <div>
      <Image src={logopink} alt="pink doubble logo" class="w-[280px] md:w-auto h-auto pb-4 md:pb-2" />
      <p class="md:text-center">Doubble the fun</p>
    </div>
    <div>
      <ul>
        <li class="font-bold">legal</li>
        <li>terms and conditions</li>
        <li>privacy policy</li>
        <li>respect</li>
        <li>community guidelines</li>
      </ul>
    </div>
    <div>
      <ul>
        <li class="font-bold">about</li>
        <li>careers</li>
      </ul>
      <ul>
        <li class="font-bold pt-8">social</li>
        <li>some icons</li>
      </ul>
    </div>
  </article>
  <article class="text-center">
    <p>© 2025 Doubble.</p>
    <p>designed & engineered in Copenhagen</p>
  </article>
</section>
