<section class="py-16 px-16 max-w-xl text-center text-pillowtalk-500 mx-auto">
  <h2 class="font-montserrat text-display font-extrabold tracking-tighter pb-4 text-greenflag-500">96%</h2>
  <h3 class="font-montserrat text-heading3 font-medium tracking-tighter pb-2">of Doubble Events are officially “a vibe”</h3>
  <p>(okay, we made that up. but see if you can prove us wrong)</p>
</section>
