<section class="py-16 px-16 max-w-3xl text-pillowtalk-500 mx-auto">
  <h2 class="font-montserrat text-display font-extrabold tracking-tighter pb-2 text-firstkiss-500">"</h2>
  <h3 class="font-montserrat text-heading3 font-medium tracking-tighter pb-2">meeting new people should feel like crashing the right party, not scheduling a coffee interview.</h3>
  <p class="text-afterhours-200">Dennis Rosenlund, Founder and CEO at Doubble.</p>
</section>
