---
import { Image } from "astro:assets";
import scrollpic2 from "../assets/images/awkward2.png";
import Articlecard from "../components/articlecard.astro";
---

<section class="bg-pillowtalk-500 text-afterhours-500">
  <article class="max-w-7xl mx-auto py-12 md:py-16 px-4 md:px-16">
    <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter pb-4">related articles.</h2>
    <p class="max-w-xl text-pretty pb-8 md:pb-12">want more gossip? check out some of our other blog posts.</p>
    <article class="md:grid md:grid-cols-3 gap-6">
      <Articlecard type="dark" articlecardimage="/article5.png" articledate="May 25, 2025" articletitle="the events you should go to next month" label="events" alttext="girl at a party with tongue out" />
      <Articlecard type="dark" articlecardimage="/article1.png" articledate="April 22, 2025" articletitle="from coffee dates to group nights out" label="dating" alttext="three cocktails" />
      <Articlecard type="dark" articlecardimage="/28.png" articledate="April 8, 2025" articletitle="here's why you download Doubble" label="the app" alttext="three young people smiling on a couch" />
    </article>
  </article>
</section>
