---
import { Image } from "astro:assets";
import scrollpic2 from "../assets/images/awkward2.png";
---

<section class="bg-pillowtalk-500 text-afterhours-500 py-16 px-16">
  <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter text-afterhours-500 pb-12">do you want another awkward dating app?</h2>
  <div class="md:grid md:grid-cols-3 gap-6"><Image src={scrollpic2} alt="pizza party" class="rounded-3xl" /><Image src={scrollpic2} alt="pizza party" class="rounded-3xl" /><Image src={scrollpic2} alt="pizza party" class="rounded-3xl" /></div>
  <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter text-afterhours-500 pt-12 text-right">then doubble is <span class="italic font-light">not</span> for you</h2>
</section>
