---
import { Image } from "astro:assets";
import scrollpic1 from "../assets/images/awkward1.png";
import scrollpic2 from "../assets/images/awkward2.png";
import scrollpic3 from "../assets/images/awkward3.png";
---

<section class="bg-pillowtalk-500 text-afterhours-500 py-16 px-16">
  <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter text-afterhours-500 pb-12">do you want another awkward dating app?</h2>
  <div class="md:grid md:grid-cols-3 gap-6"><Image src={scrollpic1} alt="young people hanging out in a car" class="rounded-3xl" /><Image src={scrollpic2} alt=" two people having a pizza party" class="rounded-3xl" /><Image src={scrollpic3} alt="two girls dancing" class="rounded-3xl" /></div>
  <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter text-afterhours-500 pt-12 text-right">then doubble is <span class="italic font-light">not</span> for you</h2>
</section>
