
<section id="scrollingcontainer" class="bg-pillowtalk-500 text-afterhours-500 overflow-clip">
  <article class="max-w-7xl mx-auto py-12 md:py-16 px-4 md:px-16">
    <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter text-afterhours-500 pb-8 md:pb-12 textanimationright">do you want another awkward dating app?</h2>
    <!-- 
    <div class="overflow-clip">
      <article id="horisontalscrollsection" class="h-[40vw]">
        <ul id="horisontalscrollitems" class="list-none pl-0 flex sticky">
          <li class="pl-0 pr-4 flex w-[20vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
            <figure class="flex flex-row"><Image src={scrollpic1} alt="young people hanging out in a car" class="rounded-3xl" /></figure>
          </li>
          <li class="pl-0 pr-4 flex w-[20vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
            <figure class="flex flex-row"><Image src={scrollpic2} alt=" two people having a pizza party" class="rounded-3xl" /></figure>
          </li>
          <li class="pl-0 flex w-[20vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
            <figure class="flex flex-row"><Image src={scrollpic3} alt="two girls dancing" class="rounded-3xl" /></figure>
          </li>
        </ul>
      </article>
    </div> -->

    <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter text-afterhours-500 text-right textanimationleft">then doubble is <span class="italic font-light">not</span> for you</h2>
  </article>
</section>

<script>
  /* Importing from Motion One library */
  import { animate, inView, scroll } from "motion";

  /* Inview animation from right + return */
  inView(".textanimationright", (element) => {
    animate(element, { x: [100, 0], opacity: [0, 1] }, { duration: 1.5 });
    return () => {
      animate(element, { x: [0], opacity: [0] });
    };
  });

  /* Inview animation from left + return */
  inView(".textanimationleft", (element) => {
    animate(element, { x: [-100, 0], opacity: [0, 1] }, { duration: 1.5 });
    return () => {
      animate(element, { x: [0], opacity: [0] });
    };
  });

  // // Horisontal scroll
  // scroll(
  //   animate("#horisontalscrollitems", {
  //     transform: ["none", "translateX(-50vw)"],
  //   }),
  //   { target: document.querySelector("#horisontalscrollsection") }
  // );
</script>
