---
import { Image } from "astro:assets";
import scrollpic2 from "../assets/images/awkward2.png";
---

<section class="bg-pillowtalk-500 text-afterhours-500 py-16 px-4 md:px-16">
  <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter pb-4">our dates are doubble the fun.</h2>
  <p class="pb-12 max-w-xl">but you don’t have to just take our word for it. Here’s what some of our users are saying about their experience on the app.</p>
  <article class="md:grid md:grid-cols-3 gap-6">
    <div><Image src={scrollpic2} alt="pizza party" class="rounded-3xl" /><h3 class="font-montserrat text-heading4/8 font-extrabold tracking-tighter pt-6 pb-4">Mina & Christina</h3><p>We had the most fun with these two guys we met on Doubble. We had them over for drinks and laughed and danced all night!</p></div>
    <div><Image src={scrollpic2} alt="pizza party" class="rounded-3xl" /><h3 class="font-montserrat text-heading4/8 font-extrabold tracking-tighter pt-6 pb-4">Mina & Christina</h3><p>We had the most fun with these two guys we met on Doubble. We had them over for drinks and laughed and danced all night!</p></div>
    <div><Image src={scrollpic2} alt="pizza party" class="rounded-3xl" /><h3 class="font-montserrat text-heading4/8 font-extrabold tracking-tighter pt-6 pb-4">Mina & Christina</h3><p>We had the most fun with these two guys we met on Doubble. We had them over for drinks and laughed and danced all night!</p></div>
  </article>
</section>
