
<section class="bg-pillowtalk-500 text-afterhours-500">
  <article class="max-w-7xl mx-auto py-12 md:py-16 px-4 md:px-16">
    <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter pb-4 animationinviewfade">our dates are doubble the fun.</h2>
    <p class="pb-8 md:pb-12 max-w-2xl animationinviewfade">but you don’t have to just take our word for it. we brought receipts — straight from the people who’ve been doubblin’ up, and making memories worth swiping for.</p>
    <article class="sm:grid sm:grid-cols-2 md:grid-cols-3 gap-6">
      <div class="bg-[url('../assets/images/testimonial1.png')] bg-cover hover:bg-afterhours-300 bg-blend-multiply bg-afterhours-100 transition duration-600 ease-in-out hover:scale-105 mb-10 mb:mb-0 rounded-3xl aspect-square content-end p-8 text-pillowtalk-500 group"><h3 class="font-montserrat transition not-group-hover:translate-y-16 text-heading4/8 font-extrabold tracking-tighter pt-6 pb-4 animationinviewfade">Mina & Christina</h3><p class="not-group-hover:opacity-0 transition duration-500 ease-in-out">We had the most fun with these two guys we met on Doubble. We had them over for drinks and laughed and danced all night!</p></div>
      <div class="bg-[url('../assets/images/testimonial2.png')] bg-cover hover:bg-afterhours-300 bg-blend-multiply bg-afterhours-100 transition duration-600 ease-in-out hover:scale-105 mb-10 mb:mb-0 rounded-3xl aspect-square content-end p-8 text-pillowtalk-500 group"><h3 class="font-montserrat transition not-group-hover:translate-y-16 text-heading4/8 font-extrabold tracking-tighter pt-6 pb-4 animationinviewfade">Martin & Sophie</h3><p class="not-group-hover:opacity-0 transition duration-500 ease-in-out">We joined Doubble just to try something new and met the coolest duo. We all ended up at a karaoke bar — totally unplanned and so fun.</p></div>
      <div class="bg-[url('../assets/images/testimonial3.png')] bg-cover hover:bg-afterhours-200 bg-blend-multiply bg-afterhours-100 transition duration-600 ease-in-out hover:scale-105 rounded-3xl aspect-square content-end p-8 text-pillowtalk-500 group"><h3 class="font-montserrat transition not-group-hover:translate-y-16 text-heading4/8 font-extrabold tracking-tighter pt-6 pb-4 animationinviewfade">William & Peter</h3><p class="not-group-hover:opacity-0 transition duration-500 ease-in-out">We matched with two girls on Doubble and went to a comedy show together. We couldn’t stop laughing — best double date ever!</p></div>
    </article>
  </article>
</section>
