---
import { Image } from "astro:assets";
import media from "../assets/images/media.png";
import Button from "../components/button.astro";
---

<section class="text-pillowtalk-500">
  <article class="max-w-7xl mx-auto py-12 md:py-16 px-4 md:px-16 md:grid md:grid-cols-2 gap-16">
    <div>
      <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter pb-8 md:pb-12 animationinviewfade">a new way to go out and connect.</h2>
      <div class="md:hidden pb-8"><Image src={media} alt="girl at a party in a lavendar top" class="rounded-3xl" /></div>
      <p class="pb-4 md:pb-6 animationinviewfade">introducing Doubble events, because meeting people should feel like making plans with friends — not scrolling through strangers.</p>
      <p class="pb-4 md:pb-6 animationinviewfade">the vibe clicks faster when you're already going out as a group. it’s easier to chat. aaand it’s way more fun.</p>
      <p class="pb-8 md:pb-10 animationinviewfade">enough talking. check out what’s happening.</p>
      <a href="/eventsarticle" class="flex items-center justify-center md:justify-start">
        <Button variant="tertiary">read about events</Button>
      </a>
    </div>
    <div class="hidden md:block pt-8 md:pt-0"><Image src={media} alt="girl at a party in a lavendar top" class="rounded-3xl h-full object-cover" /></div>
  </article>
</section>
