
<section class="max-w-7xl mx-auto py-12 md:py-16 px-4 md:px-16">
  <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter pb-4 text-firstkiss-500 max-w-2xl animationinviewfade">here’s how it actually works.</h2>
  <p class="max-w-2xl pb-8 md:pb-12 text-pillowtalk-500 animationinviewfade">making plans with friends (and meeting new ones) shouldn’t be hard. with Doubble Events, it’s as easy as picking an event, choosing your crew, and showing up.</p>

  <article id="stickyscrollcontainer">
    <!-- container -->
    <div class="bg-[url('../assets/images/23.png')] sticky top-0 left-0 right-0 bottom-0 h-screen w-full bg-cover bg-center rounded-3xl"></div>
    <!-- sticky element -->
    <div class="relative flex justify-end">
      <!-- relative element -->
      <div class="flex flex-col w-full md:w-1/2 h-full justify-center gap-4 p-4">
        <div class="bg-firstkiss-500 max-w-lg rounded-3xl px-8 md:px-10 py-6">
          <h3 class="text-heading4 font-extrabold text-afterhours-500 pb-2">explore events nearby</h3>
          <p>scroll through what's happening this weekend. disco night? chess & cocktails? you’re in.</p>
        </div>

        <div class="bg-firstkiss-500 max-w-lg rounded-3xl px-8 md:px-10 py-6">
          <h3 class="text-heading4 font-extrabold text-afterhours-500 pb-2">go with your friend group</h3>
          <p>so, who’s going? pick your people. tap to join the event together.</p>
        </div>

        <div class="bg-firstkiss-500 max-w-lg rounded-3xl px-8 md:px-10 py-6">
          <h3 class="text-heading4 font-extrabold text-afterhours-500 pb-2">chat with other groups</h3>
          <p>start a conversation in your new group chat. plan a pregame with others going to the event, if you want.</p>
        </div>

        <div class="bg-firstkiss-500 max-w-lg rounded-3xl px-8 md:px-10 py-6">
          <h3 class="text-heading4 font-extrabold text-afterhours-500 pb-2">see who else is going</h3>
          <p>get the vibe. see who’s going - and maybe meet someone new before you even arrive.</p>
        </div>
      </div>
    </div>
  </article>
</section>
